// variables

$mainColor: rgba(255, 255, 255, 0.905);
$blue: rgb(81, 81, 220);
$darkBlue: rgb(59, 59, 189);


// importaciones

@import "./components/perfil";
@import "./components/nav";
@import "./components/login";
@import "./components/search";
@import "./components/card";
@import "./components/resultadosUsuarios";
@import "./components/navSeguidores";


// global

body{
    background-color: $mainColor;
    height: 100vh;

    #root{
        height: calc(100vh - 57px);
        overflow-y: scroll;
        outline: solid .6px rgb(165, 165, 165);
    }
    
}

*{
    margin: 0;
    padding: 0;
}